<header class="site-header">
  <div class="container">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/discount-electrology/' | relative_url }}">Discount Services</a>
      <a href="{{ '/electrology-training/' | relative_url }}">Electrology Training</a>
      <a href="{{ '/find-an-electrologist/' | relative_url }}">Find an Electrologist</a>
      <a href="{{ '/about/' | relative_url }}">About</a>
    </nav>
  </div>
</header>
