<section class="clearfix reviewSection lhf-surface">
  <div class="container">
    <div class="secotionTitle">
      <h2><span>Testimonials </span>What People Say</h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="reviewImage">
          <img src="{{ '/img/home/client-testimonial-portrait.jpg' | relative_url }}" data-src="{{ '/img/home/client-testimonial-portrait.jpg' | relative_url }}" alt="Client testimonial" class="img-responsive lazyestload" />
        </div>

        <div class="reviewInfo mb-md-0">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <p>The student clinic made treatment affordable, and the supervision gave me confidence in the care I received.</p>
          <h3>Client</h3>
          <h4>Discount Service Program</h4>
        </div>
      </div>

      <div class="col-md-6">
        <div class="reviewImage">
          <img src="{{ '/img/home/student-testimonial-portrait.jpg' | relative_url }}" data-src="{{ '/img/home/student-testimonial-portrait.jpg' | relative_url }}" alt="Student testimonial" class="img-responsive lazyestload" />
        </div>

        <div class="reviewInfo mb-0">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <p>I was looking for a meaningful new career, and the training pathway gave me a clear route into electrology.</p>
          <h3>Student</h3>
          <h4>Electrology Training Program</h4>
        </div>
      </div>
    </div>
  </div>
</section>
