<section class="container-fluid clearfix aboutSection lhf-surface">
  <div class="aboutInner">
    <div class="sepcialContainer">
      <div class="row">
        <div class="col-sm-6 col-xs-12 rightPadding">
          <div class="imagebox">
            <img class="img-responsive lazyestload" data-src="{{ '/img/home/electrology-consultation-about.jpg' | relative_url }}" src="{{ '/img/home/electrology-consultation-about.jpg' | relative_url }}" alt="Electrology consultation" />
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="aboutInfo">
            <h2>Center for Electrology</h2>
            <h3>Helping clients and future professionals make the right next step.</h3>
            <p>Live Hair Free connects people with discounted student electrology services, training opportunities for a rewarding career in electrology, and referrals to trained electrologists when student appointments are unavailable.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
