<section class="clearfix offersSection lhf-surface">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="offerContent">
          <img src="{{ '/img/home/discount-electrology-offer.jpg' | relative_url }}" alt="Discount services" loading="lazy" decoding="async" width="1007" height="693" />
          <div class="offerMasking">
            <div class="offerTitle"><h4><a href="{{ '/discount-electrology/' | relative_url }}">Discount Services</a></h4></div>
          </div>
          <div class="offerPrice"><h5>Students</h5></div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="offerContent">
          <img src="{{ '/img/home/electrology-training-offer.jpg' | relative_url }}" alt="Career training" loading="lazy" decoding="async" width="254" height="254" />
          <div class="offerMasking">
            <div class="offerTitle"><h4><a href="{{ '/electrology-training/' | relative_url }}">Career Training</a></h4></div>
          </div>
          <div class="offerPrice"><h5>Students</h5></div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="offerContent">
          <img src="{{ '/img/home/electrologist-referrals-offer.jpg' | relative_url }}" alt="Professional referrals" loading="lazy" decoding="async" width="254" height="254" />
          <div class="offerMasking">
            <div class="offerTitle"><h4><a href="{{ '/find-an-electrologist/' | relative_url }}">Referrals</a></h4></div>
          </div>
          <div class="offerPrice"><h5>Pros</h5></div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="offerContent">
          <img src="{{ '/img/home/contact-center-offer.jpg' | relative_url }}" alt="Contact center" loading="lazy" decoding="async" width="254" height="254" />
          <div class="offerMasking">
            <div class="offerTitle"><h4><a href="mailto:{{ site.email }}">Contact Us</a></h4></div>
          </div>
          <div class="offerPrice"><h5>Support</h5></div>
        </div>
      </div>
    </div>
  </div>
</section>
