<section class="clearfix callAction">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-sm-offset-1 col-xs-12">
        <div class="callInfo">
          <p>Need discounted treatment, training information, or help finding a trained electrologist? Reach out and we will point you to the right option.</p>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <a href="{{ '/contact/' | relative_url }}" class="btn btn-primary first-btn callBtn">contact us</a>
      </div>
    </div>
  </div>
</section>
