<section>
  <div class="clearfix homeGalleryTitle">
    <div class="container">
      <div class="secotionTitle">
        <h2><span>Permanent Results </span>Why Electrology Is The Real Path</h2>
        <p>Electrology is the only method recognized for permanent hair removal, making it the most reliable long-term option for clients who want lasting results.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid clearfix homeGallery">
    <div class="row isotopeContainer" id="container">
      <div class="col-sm-3 isotopeSelector hair">
        <div class="card"><div class="card-img"><img class="img-full lazyestload" src="{{ '/img/home/permanent-hair-removal-gallery-1.jpg' | relative_url }}" alt="Gallery image 1" /></div></div>
      </div>
      <div class="col-sm-3 isotopeSelector makeup">
        <div class="card"><div class="card-img"><img class="img-full lazyestload" src="{{ '/img/home/permanent-hair-removal-gallery-2.jpg' | relative_url }}" alt="Gallery image 2" /></div></div>
      </div>
      <div class="col-sm-3 isotopeSelector facial">
        <div class="card"><div class="card-img"><img class="img-full lazyestload" src="{{ '/img/home/permanent-hair-removal-gallery-3.jpg' | relative_url }}" alt="Gallery image 3" /></div></div>
      </div>
      <div class="col-sm-3 isotopeSelector massage">
        <div class="card"><div class="card-img"><img class="img-full lazyestload" src="{{ '/img/home/permanent-hair-removal-gallery-4.jpg' | relative_url }}" alt="Gallery image 4" /></div></div>
      </div>
    </div>
  </div>
</section>
